body {
	margin: 0;
	padding: 0;
	font-family: sans-serif, Arial, Helvetica;
	background: url(../img/headphone.jpg) no-repeat;
	background-size: cover;
}

/* Home Page */

/* Nav Bar */

.navbar {
  width: 100%;
  /* background-color: #555; */ 
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin-top: 100px;
  margin-left: 528px;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 10px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
